.container{
  width: 100vw;       
    min-height: 100px;
    border: 1px solid white;
    padding: 10px;    
    box-sizing: border-box; 

}
.task{
     width: 100%;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    display: inline-block; 
    flex: 1 1 150px;
}
.task ul {
    padding-left: 0px;
    

}
.task ul li{

    font-size: 10px;
        border: 1px solid white ;
        padding: 10px;
   
        margin: 10px;

}